openapi: 3.0.0
x-stoplight:
  id: 8kqok2fn50zew
info:
  title: Metallic REST API Reference
  description: |-
    This API documentation covers all the APIs exposed by metallic for all the partner customers as well as standalone customers.

    > Invoke Authentication - `/api/v1/authenticate` API using `username` and `password` provided by metallic to obtain `authToken`. All subsequent requests should pass `authToken` obtained as `Bearer token` as part of `Authorization` header.

    > Contact Metallic Customer support for any further assistance.

    ## HTTP Codes

    Following are the generic HTTP codes returned by APIs. These HTTP codes are not documented again at each API level to improve the overall documentation readability.

    | **HTTP Error Code** | **Description** |
    | --- | --- |
    | 200 | OK - Success |
    | 201 | Created - Record created successfully |
    | 204 | Success No Content -Usually returned for DELETE operation response. |
    | 400 | Bad Request - Correct the request and resubmit. |
    | 401 | Unauthorized - Authentication Failed. User credentials are incorrect or authToken is incorrect/expired. |
    | 403 | Forbidden - Logged in user does not have permission to requested API. |
    | 404 | Not Found - No records found matching the request. |
    | 409 | Conflict - In case of business errors where resource can not be created/updated due to conflict. |
    | 429 | Too Many Requests - API invocation quota exceeded. |
    | 500 | Internal Server Error - Unexpected error from server. Something went wrong on server. |
  contact: {}
  version: '1.0'
servers:
  - url: 'https://api.metallic.io/api/v1'
    variables: {}
paths:
  /authenticate:
    post:
      tags:
        - Authentication
      summary: Authenticate
      description: |-
        This API authenticates against partner portal or Commvault core product depending on customer is partner customer or standalone customer respectively. Use the `username` and `password` provided by metallic. Returns `authToken` which is `jwt` token or `QSDK` token based on customer is partner customer or standalone customer respectively.

        #### Request Body

        | **Field** | **Description** | **Type** | **Required** | **Notes** |
        | --- | --- | --- | --- | --- |
        | username | Service principal name or user email | String | True |  |
        | password | User password | String | True | For standalone customers, `password` must be in base64 encoded format. |

        #### Response Body

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | authToken | Authentication token | String | This needs to be passed as `Bearer token` in `Authorization` header for rest of the API calls. |
      operationId: Authenticate
      parameters:
        - name: Accept
          in: header
          description: ''
          required: true
          style: simple
          schema:
            type: string
            example: application/json
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/AuthenticateRequest'
                - example:
                    username: '{{username}}'
                    password: '{{password}}'
            example:
              username: '{{username}}'
              password: '{{password}}'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Authenticate-Success-StandaloneCustomer'
                  - example:
                      data:
                        authToken: QSDK 35a2d62bd7858a9f52dea8c86f08a328a6aba0e67d524a31a97800ab63051a60c03eafbe1e8e673ab6041fc6c38740d9c7a426503d98a76effdd99edb39f75a8444d59f6404596938dd13978b4c0ad85f16941cf3c7fa4134c03eb16761d2586de18de0e2cea11f26eac6d06e9558020f052caba0145a7a93ae988b636abc137e2bb2efd5d012d2b46bbeec4389e59fccb9908222770fdc1ef0c85fea98d0c7bb87afb5afe845ec33695232a8dbce81dc9599421a843128952c82b7795e78c125c379aaa3bf2c632198e77b65f5bd3477fa8d6679ecc058dafd9aa30f63152c70f9884cffc488ea22d1f088e69b1fc2b6538bad426ad510fd78edf2da9358e90ac05e0db3218af38392dd068349b36ba5552f10d33611299f5ae3677e245e6300fc4f68f4e15d81905b2659badae175a1
              example:
                data:
                  authToken: QSDK 35a2d62bd7858a9f52dea8c86f08a328a6aba0e67d524a31a97800ab63051a60c03eafbe1e8e673ab6041fc6c38740d9c7a426503d98a76effdd99edb39f75a8444d59f6404596938dd13978b4c0ad85f16941cf3c7fa4134c03eb16761d2586de18de0e2cea11f26eac6d06e9558020f052caba0145a7a93ae988b636abc137e2bb2efd5d012d2b46bbeec4389e59fccb9908222770fdc1ef0c85fea98d0c7bb87afb5afe845ec33695232a8dbce81dc9599421a843128952c82b7795e78c125c379aaa3bf2c632198e77b65f5bd3477fa8d6679ecc058dafd9aa30f63152c70f9884cffc488ea22d1f088e69b1fc2b6538bad426ad510fd78edf2da9358e90ac05e0db3218af38392dd068349b36ba5552f10d33611299f5ae3677e245e6300fc4f68f4e15d81905b2659badae175a1
        default:
          description: ''
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Authenticate-Success-Partner'
                  - example:
                      data:
                        authToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWJqZWN0IjoiZm1xYTNNc3AwNjIyNDJTUGhhcmQgZHJpdmUiLCJjbGllbnRJcCI6IjQ5LjM3LjE2MS4zMyIsImlzcyI6Imh0dHBzOi8vbGlnaHRob3VzZS5tZXRhbGxpYyxpby92MS4wIiwic2Vzc2lvbklkIjoiMjZmYzkwMDUtNzk3YS00ODkyLWE4MGItYWZmN2ZjZWU4ZWI5IiwiZXhwIjoxNjYzNjc1OTY5LCJpYXQiOjE2NjM2NjE1NjksImVtYWlsIjoiZm1xYTNNc3AwNjIyNDJTUGhhcmQgZHJpdmUifQ.MLxs-yArVR9HdZZs4ZPUZ5QG6CfzvVxcd4CWf2eVw5Tu0qsRTRRQetWRvEy_Mqmww3pbH0a7vqv1pE-LNcOlXXySn19PB5XbPHcbhimKPtI9uu-DgYVN27lgzsM9E22l9F5rypYc6DtZRieVthixxZ_3JXUE-0hFoZx07ini3TQw98BvpCPBIvTAwDu3A7RjKUJU0zFAHcRJ-gDasGIQzy3jiCk7JnTM0w_VeoTpd2XzwU-45lI7zJE5ezJBWgzkXSkIljoe0uJpIpVc_zRCZNHg3bWDgInWywkWsH0jWBkD1uiLwmRfgKlvJP99TFR2saadDQ9b_3LvfcjdJQsQTw
              example:
                data:
                  authToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWJqZWN0IjoiZm1xYTNNc3AwNjIyNDJTUGhhcmQgZHJpdmUiLCJjbGllbnRJcCI6IjQ5LjM3LjE2MS4zMyIsImlzcyI6Imh0dHBzOi8vbGlnaHRob3VzZS5tZXRhbGxpYyxpby92MS4wIiwic2Vzc2lvbklkIjoiMjZmYzkwMDUtNzk3YS00ODkyLWE4MGItYWZmN2ZjZWU4ZWI5IiwiZXhwIjoxNjYzNjc1OTY5LCJpYXQiOjE2NjM2NjE1NjksImVtYWlsIjoiZm1xYTNNc3AwNjIyNDJTUGhhcmQgZHJpdmUifQ.MLxs-yArVR9HdZZs4ZPUZ5QG6CfzvVxcd4CWf2eVw5Tu0qsRTRRQetWRvEy_Mqmww3pbH0a7vqv1pE-LNcOlXXySn19PB5XbPHcbhimKPtI9uu-DgYVN27lgzsM9E22l9F5rypYc6DtZRieVthixxZ_3JXUE-0hFoZx07ini3TQw98BvpCPBIvTAwDu3A7RjKUJU0zFAHcRJ-gDasGIQzy3jiCk7JnTM0w_VeoTpd2XzwU-45lI7zJE5ezJBWgzkXSkIljoe0uJpIpVc_zRCZNHg3bWDgInWywkWsH0jWBkD1uiLwmRfgKlvJP99TFR2saadDQ9b_3LvfcjdJQsQTw
      deprecated: false
      security: []
  /partner/organizations/resellers:
    post:
      tags:
        - Resellers
      summary: Create Reseller
      description: |-
        This API can be used to provision a new reseller in Metallic. Reseller provisioning is synchronous.

        #### Request Body

        | **Field** | **Description** | **Type** | **Required** | **Notes** |
        | --- | --- | --- | --- | --- |
        | externalId | Reseller ID in Partner system | String / UUID | True | Needs to be unique in metallic. |
        | name | Reseller name | String | True | Needs to be unique in metallic. |
        | website | Reseller website | String | False |  |
        | contacts | Reseller contacts | Contact Objects Array | True | See - Contact Object |
        | workloadAccess | Access to manage accounts | Boolean | False |  |

        ##### Contact Object

        | **Field** | **Description** | **Type** | **Required** | **Notes** |
        | --- | --- | --- | --- | --- |
        | type | Contact type | String Enum Allowed Values: "primary" | True | Only 'primary' is supported currently. |
        | email | Contact email | String | True | Needs to be unique in metallic. |
        | firstName | Contact firstname | String | True |  |
        | lastName | Contact lastname | String | True |  |
        | address | Contact address | Address Object | True | See - Address Object |
        | phone | Contact phone number | String | False |  |

        ##### Address Object

        | **Field** | **Description** | **Type** | **Required** | **Notes** |
        | --- | --- | --- | --- | --- |
        | addressLine1 | Address line 1 | String | True |  |
        | addressLine2 | Address line 2 | String | False |  |
        | city | Address city | String | True |  |
        | state | Address state | String | Conditional Mandatory | This field is required when country is United States, otherwise is optional.  If provided, it must be ISO standard code or name. |
        | country | Address country | String | True | It must be ISO standard code or name. |
        | postalCode | Address postal code | String | True |  |

        #### Response Body

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | id | Reseller metallic id | UUID |  |
        | type | Type indicating it is reseller | String Enum allowed values: "reseller" |  |
        | status | Reseller status | String Enum allowed values: "active" |  |
        | insertTs | Reseller created time | Timestamp |  |
        | updateTs | Reseller last updated time | Timestamp |  |
        | externalId | Reseller ID in Partner system | String / UUID | Same as input. |
        | name | Reseller name | String | Same as input. |
        | website | Reseller website | String | Same as input. |
        | contacts | Reseller contacts | Contact Objects array | Same as input. Refer to Contact Object on request. |
        | workloadAccess | Access to manage accounts | Boolean | Same as input. |
      operationId: CreateReseller
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/CreateResellerRequest'
                - example:
                    name: '{{reseller_name}}'
                    website: '{{reseller_website}}'
                    contacts:
                      - email: '{{reseller_admin_email}}'
                        firstName: '{{reseller_admin_firstname}}'
                        lastName: '{{reseller_admin_lastname}}'
                        phone: '{{reseller_admin_phone}}'
                        address:
                          addressLine1: '{{addless_line_1}}'
                          city: '{{city}}'
                          state: '{{state}}'
                          country: '{{coutry}}'
                          postalCode: '{{postal_code}}'
                        type: primary
                    externalId: '{{guid}}'
                    workloadAccess: false
            example:
              name: '{{reseller_name}}'
              website: '{{reseller_website}}'
              contacts:
                - email: '{{reseller_admin_email}}'
                  firstName: '{{reseller_admin_firstname}}'
                  lastName: '{{reseller_admin_lastname}}'
                  phone: '{{reseller_admin_phone}}'
                  address:
                    addressLine1: '{{addless_line_1}}'
                    city: '{{city}}'
                    state: '{{state}}'
                    country: '{{coutry}}'
                    postalCode: '{{postal_code}}'
                  type: primary
              externalId: '{{guid}}'
              workloadAccess: false
            examples:
              Create Reseller - Success:
                value:
                  name: '{{reseller_name}}'
                  website: '{{reseller_website}}'
                  contacts:
                    - email: '{{reseller_admin_email}}'
                      firstName: '{{reseller_admin_firstname}}'
                      lastName: '{{reseller_admin_lastname}}'
                      phone: '{{reseller_admin_phone}}'
                      address:
                        addressLine1: '{{addless_line_1}}'
                        city: '{{city}}'
                        state: '{{state}}'
                        country: '{{coutry}}'
                        postalCode: '{{postal_code}}'
                      type: primary
                  externalId: '{{guid}}'
                  workloadAccess: false
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CreateReseller-Success'
                  - example:
                      data:
                        id: e4295015-6535-4989-9457-1ba12040a7ef
                        insertTs: '2022-09-20T08:42:52'
                        updateTs: '2022-09-20T08:42:52'
                        name: testreseller
                        type: reseller
                        status: active
                        contacts:
                          - email: admin@testreseller.com
                            firstName: Brooks
                            lastName: Price
                            phone: 201-200-5904
                            address:
                              addressLine1: 1 Commvault
                              city: Tinton Fall
                              state: New York
                              country: United States
                              postalCode: '508001'
                            type: primary
                        website: www.testreseller.com
                        externalId: c36c7995-cddb-459b-b145-f6385e92b844
                        workloadAccess: false
              example:
                data:
                  id: e4295015-6535-4989-9457-1ba12040a7ef
                  insertTs: '2022-09-20T08:42:52'
                  updateTs: '2022-09-20T08:42:52'
                  name: testreseller
                  type: reseller
                  status: active
                  contacts:
                    - email: admin@testreseller.com
                      firstName: Brooks
                      lastName: Price
                      phone: 201-200-5904
                      address:
                        addressLine1: 1 Commvault
                        city: Tinton Fall
                        state: New York
                        country: United States
                        postalCode: '508001'
                      type: primary
                  website: www.testreseller.com
                  externalId: c36c7995-cddb-459b-b145-f6385e92b844
                  workloadAccess: false
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CreateReseller-Error-BadRequest1'
                  - example:
                      error:
                        code: 1002
                        message: Request validation failed!
                        errors:
                          - field: name
                            message: name already exists.
                          - field: email
                            message: email already exists in Metallic.
                          - field: externalId
                            message: externalId is required and should be unique in Partner system.
              example:
                error:
                  code: 1002
                  message: Request validation failed!
                  errors:
                    - field: name
                      message: name already exists.
                    - field: email
                      message: email already exists in Metallic.
                    - field: externalId
                      message: externalId is required and should be unique in Partner system.
      deprecated: false
  '/partner/organizations/resellers/{resellerId}':
    get:
      tags:
        - Resellers
      summary: Get Reseller by Id
      description: |-
        Get reseller using metallic reseller id.

        #### Path Variables

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | resellerId | Reseller metallic id | UUID |  |

        #### Response Body

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | id | Reseller metallic id | UUID |  |
        | type | Type indicating it is reseller | String Enum allowed values: "reseller" |  |
        | status | Reseller status | String Enum allowed values: "active" |  |
        | insertTs | Reseller created time | Timestamp |  |
        | updateTs | Reseller last updated time | Timestamp |  |
        | externalId | Reseller ID in Partner system | String / UUID |  |
        | name | Reseller name | String |  |
        | website | Reseller website | String |  |
        | contacts | Reseller contacts | Contact Objects array | Refer to Contact Object on create reseller request. |
        | workloadAccess | Access to manage accounts | Boolean |  |
      operationId: GetResellerbyId
      parameters:
        - name: resellerId
          in: path
          description: ''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                - $ref: '#/components/schemas/GetResellerbyId-Success'
              examples:
                Get Reseller by Id - Success:
                  value:
                    data:
                      id: E4295015-6535-4989-9457-1BA12040A7EF
                      insertTs: '2022-09-20T08:42:52'
                      updateTs: '2022-09-20T08:42:56'
                      name: testreseller
                      type: reseller
                      status: active
                      contacts:
                        - email: admin@testreseller.com
                          firstName: Brooks
                          lastName: Price
                          phone: 201-200-5904
                          address:
                            addressLine1: 1 Commvault
                            city: Tinton Fall
                            state: New York
                            country: United States
                            postalCode: '508001'
                          type: primary
                      website: www.testreseller.com
                      externalId: c36c7995-cddb-459b-b145-f6385e92b844
                      workloadAccess: false
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/GetResellerbyId-Error-NotFound1'
                  - example:
                      error:
                        code: 1006
                        message: Record not found
              example:
                error:
                  code: 1006
                  message: Record not found
      deprecated: false
  /partner/ratecards:
    get:
      tags:
        - Rate Card
      summary: Get Rate Card
      description: |-
        Get Ratecard for the Partner.

        List Ratecard with sorting and pagination support.

        #### Query Params

        | **Field** | **Description** | **Type** | **Required** | **Noted** |
        | --- | --- | --- | --- | --- |
        | sort | Sort order. | String | False | Supports `asc` and `desc` for sortable fields. Default sort is desc:updateTs |
        | pageNumber | Page Number | Number | False | Page number >=0.  default 0 |
        | pageSize | Page Size | Number | False | Size of each page.  default 25. |

        #### Response Body

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | data | List of Ratecard entires | Ratecard Objects Array | See - Ratecard Object |
        | metadata | List Ratecard metadata | List Metadata Object | See - List Fullfillment Metadata Object |

        ##### Ratecard Object

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | orgId | MSP metallic id | UUID |  |
        | orgName | Partner name | String |  |
        | skuName | Service sku name in Metallic | String |  |
        | skuId | Service sku in Metallic | String |  |
        | skuDescription | Metallic sku description | String |  |
        | unit | Unit of measure (1 user,10 vm, etc.) | String | See - Get Usage - Response Body. |
        | unitPrice | Price for a singlebillingUnit | Double |  |
        | effectiveDate | Effective date | Timestamp |  |
        | expirationDate | Expiration date | Timestamp |  |
        | currency | Billing currency | String |  |
      operationId: GetRateCard
      parameters:
        - schema:
            type: integer
          in: query
          name: pageNumber
          description: Page number in pagination
        - schema:
            type: integer
          in: query
          name: pageSize
          description: Number of records in page
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRateCard-Success'
              examples:
                Get Rate Card - Success:
                  value:
                    data:
                      - orgId: DB9FC3D8-9E25-4787-9E18-409BCA6816CF
                        orgName: fmdevMsp060148
                        skuName: Metallic Backup for Microsoft Dynamics 365 for Service Providers
                        skuId: MTSP-D365-USR
                        skuDescription: 'Metallic Dynamics 365 Backup & Recovery Essentials Edition, Non-Commit, Monthly Rate'
                        unitPrice: 2.16
                        unit: 1.0 user
                        effectiveDate: '2021-07-01'
                        expirationDate: null
                        currency: USD
                    metadata:
                      sort: 'desc:updateTs'
                      pagination:
                        pageNumber: 0
                        pageSize: 25
                        totalRecords: 19
      deprecated: false
  /partner/fulfillments:
    post:
      tags:
        - Fulfilments
      summary: Submit Fulfilment
      description: |-
        This API can be used to submit a fulfillment request for customers. Customer is represented by account in Metallic. Three types of fulfillment requests are supported:

        | **Fulfillment Type** | **Description** |
        | --- | --- |
        | New customer | This is to purchase services for a new customer to metallic. Detailed customer information is required. |
        | Adding service | This is to add more services to an existing customer in metallic. Customer metallic account Id is required. |
        | Cancelling service | This is to cancel services for an existing customer in metallic. Customer metallic account Id is required. |

        ###### Notes

        > Once the fulfillment request is submitted, partner will get a unique fulfillment Metallic ID in response. Fulfillment request will be processed asynchronously. Partner can use `Get Fulfillment by Id` to check fulfillment status and details later.

        #### Request Body

        | **Field** | **Description** | **Type** | **Required** | **Notes** |
        | --- | --- | --- | --- | --- |
        | externalId | Partner fulfillment  reference in partner system. | String / UUID | False | Needs to be unique in metallic. Refer to Notes below this table. |
        | resellerId | Reseller metallic id | UUID | Conditional Mandatory | Required when customer is introduced by a reseller. Refer to Notes below this table. |
        | mspId | Msp metallic id | UUID | Conditional Mandatory | Required when customer is introduced by an msp. Refer to Notes below this table. |
        | account | Customer account  info | New Account Object / Existing  Account Object | True | See - New Account Object /  Existing Account Object. |
        | service | Service details | Service Object | True | See - Service Object. |

        ###### Notes

        > `externalId:` is the identifier for fulfillment in Partner system. It is not required for all three fulfillment types, but if provided in "Cancelling service" fulfillment, it should be the same externalId as in the original "New customer" fulfillment or "Adding service" fulfillment. For example, if an externalId 123 is provided in a "Cancelling service fulfillment", then we will check if there is any "New customer" fulfillment or "Adding service" fulfillment that has externalId 123. If not, we will not proceed this "Cancelling service" fulfillment.

        > `service:` Database usage is metered by capacity unless the application is hosted on virtual machines in which case it is metered as a VM instance. By selecting the Database Backup Service, VM & Kubernetes Service is automatically selected. File & Object usage is metered by capacity unless the application is hosted on Virtual Machines in which case it is metered as a VM instance. By selecting the File & Object Backup Service, VM & Kubernetes Service is automatically selected.

        > `resellerId` and `mspId`: When both mspId and resellerId is provided in the request then the provisioning is for partner case where customer is being added for a reseller under msp.

        ##### New Account Object

        | **Field** | **Description** | **Type** | **Required** | **Notes** |
        | --- | --- | --- | --- | --- |
        | externalId | Customer Id in Partner system | String / UUID | True | Needs to be unique in partner system. |
        | name | Customer name | String | True | Needs to be unique in metallic. |
        | website | Customer website | String | False |  |
        | provisionCountry | The country that customer account needs to be provisioned | String | True | It needs to be ISO standard code or name. |
        | contacts | Customer contacts | Contact Objects Array | True | See - Contact Object |
        | type | Account type | Sting Enumeration Allowed Values: POC / Internal / Production | False |  |

        ##### Existing Account Object

        | **Field** | **Description** | **Type** | **Required** | **Notes** |
        | --- | --- | --- | --- | --- |
        | id | Account metallic id | UUID | True |  |

        ##### Service Object

        | **Field** | **Description** | **Type** | **Required** | **Notes** |
        | --- | --- | --- | --- | --- |
        | action | Fulfillment action for existing customer | String Enumeration Allowed Values: add / cancel | Conditional Mandatory | Required for existing account fulfillment. This field should not be provided in 'New  Customer' fulfillment. |
        | skus | Metallic service skus | Sku Objects Array | True | Metallic will provide a list of available skus for a partner. See - Sku Object |

        ##### Sku Object

        | **Field** | **Description** | **Type** | **Required** | **Notes** |
        | --- | --- | --- | --- | --- |
        | sku | Service Sku | String | True | Metallic will provide list of available skus for a partner. |
        | term | Service duration | String | False | If not provided defaults to - 'oneMonth' |
        | billingCycle | Service billing cycle | String | False | If not provided defaults to - 'monthly' |
        | autoRenew | Service renew option at the end of term | Boolean | False | If not provided defaults to - true |

        ##### Contact Object

        | **Field** | **Description** | **Type** | **Required** | **Notes** |
        | --- | --- | --- | --- | --- |
        | type | Contact type | String Enum Allowed Values: admin | True | Currently, only one contact per account is accepted and contact type must be 'admin'. |
        | email | Contact email | String | True | Needs to be unique in metallic. |
        | firstName | Contact firstname | String | True |  |
        | lastName | Contact lastname | String | True |  |
        | address | Contact address | Address Object | False | See - Address Object |
        | phone | Contact phone number | String | False |  |

        ##### Address Object

        | **Field** | **Description** | **Type** | **Required** | **Notes** |
        | --- | --- | --- | --- | --- |
        | addressLine1 | Address line 1 | String | False |  |
        | addressLine2 | Address line 2 | String | False |  |
        | city | Address city | String | False |  |
        | state | Address state | String | Conditional Mandatory | This field is required when the country is United States, otherwise is optional.  If provided, it must be ISO standard code or name. |
        | country | Address country | String | Conditional Mandatory | This field is required when the state field is provided. If provided, it needs to be ISO standard code or name. |
        | postalCode | Address postal code | String | False |  |

        #### Response Body

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | id | Fulfillment metallic id | UUID |  |
        | status | Fulfillment status | String Enumeration - Fulfillment Status Enumeration | Refer to Fulfillment Status Enumeration. Value "in_progress" is returned in this case. |
        | requestData | Fulfillment request body | Fulfillment - Request Body | See - Request Body |
      operationId: SubmitFulfilment
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/SubmitFulfilmentRequest'
            examples:
              Submit Fulfilment - Success - New Customer:
                value:
                  externalId: f43t3423g3
                  resellerId: fbdcafcc-d507-4e04-a7db-31bbb58a6699
                  account:
                    externalId: ck6knzailz0
                    name: Example Customer
                    website: www.examplecustomer.com
                    provisionCountry: United States
                    contacts:
                      - type: admin
                        email: tom@examplecustomer.com
                        firstName: Tom
                        lastName: Li
                        phone: +1 202 202 3030
                        address:
                          addressLine1: 1 Ave
                          addressLine2: Suite 204
                          city: Sunnyvale
                          state: California
                          country: United States
                          postalCode: '94086'
                  service:
                    skus:
                      - sku: MTL-SF-USRO-NC
                      - sku: MTL-FOB-FTO-NC
              Submit Fulfilment - Success - Add Service:
                value:
                  externalId: qbhvae2i2c
                  resellerId: fbdcafcc-d507-4e04-a7db-31bbb58a6699
                  account:
                    id: e392fbac-0505-4465-9dfb-640647aec318
                  service:
                    action: add
                    skus:
                      - sku: MTL-O365-USRO-NC
                      - sku: MTL-EP-USRO-NC
              Success Fulfilment - Success - Cancel Service:
                value:
                  externalId: agwgo0df2o
                  resellerId: c7b24010-4408-4d30-940a-d0506cc3d88a
                  account:
                    id: e392fbac-0505-4465-9dfb-640647aec318
                  service:
                    action: cancel
                    skus:
                      - sku: MTL-O365-USRO-NC
                      - sku: MTL-EP-USRO-NC
              Success Fulfilment - Success MSP Partner:
                value:
                  externalId: f43t3423g3
                  mspId: fbdcafcc-d507-4e04-a7db-31bbb58a6699
                  partnerId: a8630ff7-00e6-46a9-8b89-1cd9e6ef4620
                  account:
                    externalId: ck6knzailz0
                    name: Example Customer
                    website: www.examplecustomer.com
                    provisionCountry: United States
                    contacts:
                      - type: admin
                        email: tom@examplecustomer.com
                        firstName: Tom
                        lastName: Li
                        phone: +1 202 202 3030
                        address:
                          addressLine1: 1 Ave
                          addressLine2: Suite 204
                          city: Sunnyvale
                          state: California
                          country: United States
                          postalCode: '94086'
                  service:
                    skus:
                      - sku: MTSP-SF-USR
                      - sku: MTSP-FOB-FT
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SubmitFulfilment-Success-NewCustomer'
              examples:
                Submit Fulfilment - Success - New Customer:
                  value:
                    data:
                      id: 9e2f9c13-304d-4020-a26f-1eb2ec44cd2a
                      status: in_progress
                      requestData:
                        externalId: f43t3423g3
                        resellerId: fbdcafcc-d507-4e04-a7db-31bbb58a6699
                        account:
                          externalId: ck6knzailz0
                          name: Example Customer
                          website: www.examplecustomer.com
                          provisionCountry: United States
                          contacts:
                            - type: admin
                              email: tom@examplecustomer.com
                              firstName: Tom
                              lastName: Li
                              phone: +1 202 202 3030
                              address:
                                addressLine1: 1 Ave
                                addressLine2: Suite 204
                                city: Sunnyvale
                                state: California
                                country: United States
                                postalCode: '94086'
                        service:
                          skus:
                            - sku: MTL-SF-USRO-NC
                            - sku: MTL-FOB-FTO-NC
                Submit Fulfilment - Success - Add Service:
                  value:
                    data:
                      id: 9e2f9c13-304d-4020-a26f-1eb2ec44cd2a
                      status: in_progress
                      requestData:
                        externalId: qbhvae2i2c
                        resellerId: fbdcafcc-d507-4e04-a7db-31bbb58a6699
                        account:
                          id: 401cfffe-f7a4-41c3-89c0-3361ebf35ee7
                        service:
                          action: add
                          skus:
                            - sku: MTL-O365-USRO-NC
                            - sku: MTL-EP-USRO-NC
                Submit Fulfilment - Success - Cancel Service:
                  value:
                    data:
                      id: 929c6d8d-6520-4b6c-aad2-48080296f34d
                      status: in_progress
                      requestData:
                        externalId: agwgo0df2o
                        resellerId: c7b24010-4408-4d30-940a-d0506cc3d88a
                        account:
                          id: e392fbac-0505-4465-9dfb-640647aec318
                        service:
                          action: cancel
                          skus:
                            - sku: MTL-O365-USRO-NC
                            - sku: MTL-EP-USRO-NC
                Submit Fulfilment - Success - MSP Partner:
                  value:
                    data:
                      id: 9e2f9c13-304d-4020-a26f-1eb2ec44cd2a
                      status: in_progress
                      requestData:
                        externalId: f43t3423g3
                        mspId: fbdcafcc-d507-4e04-a7db-31bbb58a6699
                        partnerId: a8630ff7-00e6-46a9-8b89-1cd9e6ef4620
                        account:
                          externalId: ck6knzailz0
                          name: Example Customer
                          website: www.examplecustomer.com
                          provisionCountry: United States
                          contacts:
                            - type: admin
                              email: tom@examplecustomer.com
                              firstName: Tom
                              lastName: Li
                              phone: +1 202 202 3030
                              address:
                                addressLine1: 1 Ave
                                addressLine2: Suite 204
                                city: Sunnyvale
                                state: California
                                country: United States
                                postalCode: '94086'
                        service:
                          skus:
                            - sku: MTSP-SF-USR
                            - sku: MTSP-FOB-FT
      deprecated: false
    get:
      tags:
        - Fulfilments
      summary: List Fulfillments
      description: |-
        List fulfillments with filtering, sorting and pagination support.

        #### Response Body

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | data | List of Fulfillments | Fulfillment Objects Array | See - Fulfillment Object |
        | metadata | List fulfillment metadata | List Metadata Object | See - Metadata Object |

        ##### Fulfillment Object

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | id | Fulfillment metallic id | UUID |  |
        | status | Fulfillment status | String Enumeration - Fulfillment Status Enumeration | Refer to Fulfillment Status Enumeration. |
        | accountId | Account metallic id | UUID | For 'New customer' fulfillment request, this field only present when fulfillment status is 'complete'. |
        | insertTs | Fulfillment  created time | Timestamp |  |
        | updateTs | Fulfillment last  updated time | Timestamp |  |
        | externalAccountId | Account id in partner system | String / UUID |  |
        | type | Fulfillment type | String | msp_create_account, reseller_cancel_service etc. |
        | userId | User who submitted filfillment request | String | User email. |

        ##### Metadata Object

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | filter | Filter string that contains search parameters | String |  |
        | sort | Sort string that contains sorting criteria | String |  |
        | pagination | Pagination Info | Pagination Object | See - Pagination Object |

        ##### Pagination Object

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | pageNumber | Page number | Integer | 0 to x |
        | pageSize | Page size | Integer |  |
        | totalRecords | Total number of records | Integer |  |
      operationId: ListFulfillments
      parameters:
        - name: filter
          in: query
          description: Optional - Filter.Only `status` filter is available on search fulfillments.
          style: form
          explode: true
          schema:
            type: string
            example: 'status:in_progress'
        - name: sort
          in: query
          description: 'Optional - Sort order. default desc:updateTs'
          style: form
          explode: true
          schema:
            type: string
            example: 'desc:updateTs'
        - name: pageNumber
          in: query
          description: Optional - Page number >=0. default 0
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 0
            minimum: 0
        - name: pageSize
          in: query
          description: Optional - Size of each page. default 25
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 25
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                - $ref: '#/components/schemas/ListFulfillments-Success'
              examples:
                List Fulfillments - Success:
                  value:
                    data:
                      - id: 587d4d28-066c-406e-b975-5d04e4e47373
                        insertTs: '2021-11-08T06:50:04'
                        updateTs: '2021-11-08T06:50:40'
                        status: complete
                        accountId: 2a920aeb-0ec0-463c-b623-de8c23a48813
                        externalAccountId: SWO-ACC-1
                        type: msp_cancel_service
                        userId: swo-app
                      - id: 08d706b1-9962-44f9-9a6e-a35cb87ac4d1
                        insertTs: '2021-11-08T06:48:02'
                        updateTs: '2021-11-08T06:48:15'
                        status: complete
                        accountId: 2a920aeb-0ec0-463c-b623-de8c23a48813
                        externalAccountId: SWO-ACC-1
                        type: msp_add_service
                        userId: admin@swo.com
                    metadata:
                      sort: 'desc:insertTs'
                      filter: 'filter=status:complete'
                      pagination:
                        pageNumber: 0
                        pageSize: 25
                        totalRecords: 2
      deprecated: false
  '/partner/fulfillments/{fulfillmentId}':
    get:
      tags:
        - Fulfilments
      summary: Get Fulfillment by Id
      description: |-
        Get fulfillment details using metallic fulfillment id.

        #### Path Variables

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | fulfillmentId | Fulfillment metallic id | UUID |  |

        #### Response Body

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | id | Fulfillment metallic id | UUID |  |
        | status | Fulfillment status | String Enumeration - Fulfillment Status Enumeration | Refer to Fulfillment Status Enumeration. |
        | accountId | Account metallic id | UUID | For 'New customer' fulfillment request, this field only present when fulfillment status is 'complete'. |
        | insertTs | Fulfillment  created time | Timestamp |  |
        | updateTs | Fulfillment last  updated time | Timestamp |  |
        | requestData | Fulfillment request body | Submit Fulfillment - Request Body | See - Submit Fulfillment - Request Body |
      operationId: GetFulfillmentbyId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/GetFulfillmentbyId-Success'
              examples:
                Get fulfilment by Id - Success:
                  value:
                    data:
                      id: 85ca70d8-fa75-40f1-b0c8-cb26a2dcda10
                      status: complete
                      accountId: 29118811-96a9-492c-b096-7d8f5ff698b3
                      insertTs: '2021-05-05T21:16:48'
                      updateTs: '2021-05-05T21:17:48'
                      requestData:
                        externalId: f43t3423g3
                        resellerId: fbdcafcc-d507-4e04-a7db-31bbb58a6699
                        account:
                          externalId: ck6knzailz0
                          name: Example Customer
                          website: www.examplecustomer.com
                          provisionCountry: United States
                          contacts:
                            - type: admin
                              email: tom@examplecustomer.com
                              firstName: Tom
                              lastName: Li
                              phone: +1 202 202 3030
                              address:
                                addressLine1: 1 Ave
                                addressLine2: Suite 204
                                city: Sunnyvale
                                state: California
                                country: United States
                                postalCode: '94086'
                        service:
                          skus:
                            - sku: MTL-SF-USRO-NC
                            - sku: MTL-FOB-FTO-NC
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                - $ref: '#/components/schemas/GetFulfillmentbyId-Error-RecordNotFound1'
              examples:
                Record not found:
                  value:
                    error:
                      code: 1006
                      message: Record not found
      deprecated: false
    parameters:
      - schema:
          type: string
        name: fulfillmentId
        in: path
        required: true
        description: Fulfillment metallic id
  '/partner/accounts/{accountId}':
    get:
      tags:
        - Accounts
      summary: Get Account by Id
      description: |-
        Get account details by metallic account id.

        #### Path Variables

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | accountId | Account metallic id | UUID |  |

        #### Response Body

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | id | Account metallic id | UUID |  |
        | status | Account status | String Enum - Account Status Enumeration | See - Account Status Enumeration |
        | insertTs | Account created time | Timestamp |  |
        | updateTs | Account last updated time | Timestamp |  |
        | externalId | Account id in Partner system | String / UUID | This is the same as new account input in fulfillment request. |
        | name | Account name | String |  |
        | website | Account website | String |  |
        | provisionCountry | The country that account is provisioned | String |  |
        | contacts | Account contacts | Contact Objects Array | See - Contact Object |
        | services | Account currently subscribed services | Service Objects array | See - Service Object |
        | deactivatedOptions | Deactivate Options | Deactivate Options  Object | Present only for deactivated accounts. See - Deactivate Options Object |
        | type | Account type | Sting Enumeration Allowed Values: POC / Internal / Production | This is for MSP accounts only |

        ##### Service Object

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | sku | Service sku | String |  |

        ##### Deactivate Options Object

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | disableLogin | Login disabled when set to true | Boolean |  |
        | disableBackup | Backup disabled when set to true | Boolean |  |
        | disableRestore | Restore disabled when set to true | Boolean |  |

        ##### Contact Object

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | type | Contact type | String Enum Allowed Values: admin | Currently only one contact per account is accepted and contact type is 'admin'. |
        | email | Contact email | String | . |
        | firstName | Contact firstname | String |  |
        | lastName | Contact lastname | String |  |
        | address | Contact address | Address Object | See - Address Object |
        | phone | Contact phone number | String |  |

        ##### Address Object

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | addressLine1 | Address line 1 | String |  |
        | addressLine2 | Address line 2 | String |  |
        | city | Address city | String |  |
        | state | Address state | String |  |
        | country | Address country | String |  |
        | postalCode | Address postal code | String |  |
      operationId: GetAccountbyId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                - $ref: '#/components/schemas/GetAccountbyId-Success'
              examples:
                Get Account by Id - Success:
                  value:
                    data:
                      id: 7194af6f-1285-4295-94aa-ceed7ea2d792
                      status: active
                      insertTs: '2021-06-07T21:16:48'
                      updateTs: '2021-06-07T21:16:48'
                      externalId: XSP1234
                      name: Acme ltd
                      website: www.acme.com
                      provisionCountry: United States
                      contacts:
                        - type: admin
                          email: tada@acme.com
                          firstName: Tada
                          lastName: Wu
                          phone: +1 302 000 2020
                          address:
                            addressLine1: 1 Ave
                            addressLine2: Suite 204
                            city: Sunnyvale
                            state: California
                            country: United States
                            postalCode: '94086'
                      services:
                        - sku: MTL-O365-USRO-NC
                        - sku: MTL-EP-USRO-NC
                      type: Production
      deprecated: false
    parameters:
      - schema:
          type: string
        name: accountId
        in: path
        required: true
        description: "Account metallic id\t"
  /partner/accounts:
    get:
      tags:
        - Accounts
      summary: List Accounts
      description: |-
        List all accounts with filter, sort and pagination support.

        #### Response Body

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | data | List of Accounts | Account Objects (Get Account by Id - Response Body) Array | See - Get Account by Id - Account Object (Response Body) |
        | metadata | List account metadata | Metadata Object | See - Metadata Object |

        ##### Metadata Object

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | filter | Filter string that contains search parameters | String |  |
        | sort | Sort string that contains sorting criteria | String |  |
        | pagination | Pagination Info | Pagination Object | See - Pagination Object |

        ##### Pagination Object

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | pageNumber | Page number | Integer | 0 to x |
        | pageSize | Page size | Integer |  |
        | totalRecords | Total number of records | Integer |  |
      operationId: ListAccounts
      parameters:
        - name: filter
          in: query
          description: 'Optional - Filter. searchTerm - matches account `name` and  contact `email` containing searchTerm value.</br>Apart from `searchTerm` filter can also be applied on fields like id, notId (For exclusion), orgId (maps to mspId/resellerId/distiId), partnetId (maps to resellerId), resellerId, type.</br> Other account root elements can also be used as filters like name, status, domain, website, externalCustomerId etc.'
          style: form
          explode: true
          schema:
            type: string
            example: 'status:provisioning_failure'
        - name: sort
          in: query
          description: 'Optional - Sort order. default desc:updateTs'
          style: form
          explode: true
          schema:
            type: string
            example: 'asc:updateTs'
        - name: pageNumber
          in: query
          description: Optional - Page number >= 0. default 0
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 0
        - name: pageSize
          in: query
          description: Optional - Size of each page. default 25
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 25
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                - $ref: '#/components/schemas/ListAccounts-Success'
              examples:
                List Accounts Success:
                  value:
                    data:
                      - id: E2A81C2E-B017-4B6C-BA99-A9B496206A3C
                        insertTs: '2022-02-04T01:01:20'
                        updateTs: '2022-02-04T02:50:20'
                        status: active
                        externalId: local-acc-1
                        name: Local Account1
                        provisionCountry: United States
                        contacts:
                          - type: admin
                            email: admin@localaccount1.com
                            firstName: Leo
                            lastName: Liu
                      - id: E033F7E5-444A-4A8A-8DDA-18B69E06F6AA
                        insertTs: '2022-03-16T18:36:30'
                        updateTs: '2022-03-16T18:36:37'
                        status: active
                        externalId: local-acc-3
                        name: Local Account3
                        provisionCountry: South Africa
                        contacts:
                          - type: admin
                            email: admin@localaccount3.com
                            firstName: Admin
                            lastName: User
                            address:
                              addressLine1: 1 St
                              city: Johannesburg
                              state: Gauteng
                              country: South Africa
                              postalCode: '2198'
                    metadata:
                      filter: 'pageSize=25&pageNumber=0&sort=asc:updateTs&filter=status:provisioning_failure'
                      sort: 'asc:updateTs'
                      pagination:
                        pageNumber: 0
                        pageSize: 25
                        totalRecords: 2
      deprecated: false
  '/partner/accounts/{id}/deactivate':
    put:
      tags:
        - Accounts
      summary: Deactivate Account
      description: |-
        This API can be used to deactivate an account using its metallic id. The API gives an option to disable login or backup or restore. At least one of the deactivation options must be set to true. The account deactivation process is asynchronous. The account status becomes deactivating when account deactivation process is initiated. Once deactivation is complete account status is deactivated.

        #### Path Variables

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | accountId | Account metallic id | UUID |  |

        #### Request Body

        | **Field** | **Description** | **Type** | **Required** | **Notes** |
        | --- | --- | --- | --- | --- |
        | disableLogin | Login disabled when set to true | Boolean | False |  |
        | disableBackup | Backup disabled when set to true | Boolean | False |  |
        | disableRestore | Restore disabled when set to true | Boolean | False |  |

        > At least one of the disable options must be set to true.

        #### Response Body

        Same as 'Get Account by Id - Response Body (Account Object)'
      operationId: DeactivateAccount
      requestBody:
        description: ''
        content:
          text/plain:
            schema:
              type: object
              properties:
                disableLogin:
                  type: boolean
                disableBackup:
                  type: boolean
                disableRestore:
                  type: boolean
              x-examples:
                Example 1:
                  disableLogin: false
                  disableBackup: true
                  disableRestore: true
            example: |-
              {

                  "disableLogin": {{distable_login}},

                  "disableBackup": {{disable_backup}},

                  "disableRestore": {{disable_restore}}

              }
            examples:
              Deactivate Account - Success:
                value:
                  disableLogin: false
                  disableBackup: true
                  disableRestore: true
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                - $ref: '#/components/schemas/DeactivateAccount-Success'
              examples:
                Deactivate Account - Success:
                  value:
                    data:
                      id: 7194af6f-1285-4295-94aa-ceed7ea2d792
                      status: deactivating
                      insertTs: '2021-06-07T21:16:48'
                      updateTs: '2021-06-07T21:16:48'
                      externalId: XSP1234
                      name: Acme ltd
                      website: www.acme.com
                      provisionCountry: United States
                      contacts:
                        - type: admin
                          email: tada@acme.com
                          firstName: Tada
                          lastName: Wu
                          phone: +1 302 000 2020
                          address:
                            addressLine1: 1 Ave
                            addressLine2: Suite 204
                            city: Sunnyvale
                            state: California
                            country: United States
                            postalCode: '94086'
                      type: Production
      deprecated: false
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
  '/partner/accounts/{id}/activate':
    put:
      tags:
        - Accounts
      summary: Activate Account
      description: |-
        This API can be used to activate an account using its metallic id. The account activation process is asynchronous. The account status becomes activating when account activation is initiated. Once activation is complete in all the systems account status is active.

        #### Path Variables

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | accountId | Account metallic id | UUID |  |

        #### Request Body

        No body

        #### Response Body

        Same as 'Get Account by Id - Response Body (Account Object)'
      operationId: ActivateAccount
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                - $ref: '#/components/schemas/ActivateAccount-Success'
              examples:
                Activate Account - Success:
                  value:
                    data:
                      id: 7194af6f-1285-4295-94aa-ceed7ea2d792
                      status: activating
                      insertTs: '2021-06-07T21:16:48'
                      updateTs: '2021-06-07T21:16:48'
                      externalId: XSP1234
                      name: Acme ltd
                      website: www.acme.com
                      provisionCountry: United States
                      contacts:
                        - type: admin
                          email: tada@acme.com
                          firstName: Tada
                          lastName: Wu
                          phone: +1 302 000 2020
                          address:
                            addressLine1: 1 Ave
                            addressLine2: Suite 204
                            city: Sunnyvale
                            state: California
                            country: United States
                            postalCode: '94086'
                      type: Production
      deprecated: false
    parameters:
      - name: id
        in: path
        description: Account metallic id
        required: true
        style: simple
        schema:
          type: string
  '/partner/accounts/{id}':
    parameters:
      - name: id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
    patch:
      tags:
        - Accounts
      summary: Update Account
      description: |-
        This API is used to update account details (like name, website etc), admin contact details (like admin contact first name, last name, email) or address of an account.

        Updating account is an asynchronous process - status changes to updating once update is initiated. If update succeeds then status becomes active, otherwise status becomes update_failure.

        To update the admin contact, you must specify the firstName, lastName and email. If all three admin contact fields (firstName, lastName and email) are ommitted then admin contact is not updated.

        To update address, you must specify the address section. If address section is entirely omitted from the request, then address is not updated. To set a null value for a specific address attribute, explicitly set it to null.

        #### Request Body

        | **Field** | **Description** | **Type** | **Required** | **Notes** |
        | --- | --- | --- | --- | --- |
        | externalId | Account id in Partner system | String / UUID | True | Needs to be unique in Partner system. |
        | name | Account name | String | True | Needs to be unique in Partner system. |
        | website | Account website | String | False | Explicitly set this to null if this field needs to be removed. |
        | contacts | Account contacts | Contact Objects Array | True | See - Contact Object |

        ##### Contact Object

        | **Field** | **Description** | **Type** | **Required** | **Notes** |
        | --- | --- | --- | --- | --- |
        | email | Contact email | String | True | Required while updating admin contact |
        | firstName | Contact firstname | String | True | Required while updating admin contact |
        | lastName | Contact lastname | String | True | Required while updating admin contact |
        | address | Contact address | Address Object | False | See - Address Object. Explicitly set this to null if this field needs to be removed. |
        | phone | Contact phone number | String | False | Explicitly set this to null if this field needs to be removed. |

        ##### Address Object

        | **Field** | **Description** | **Type** | **Required** | **Notes** |
        | --- | --- | --- | --- | --- |
        | addressLine1 | Address line 1 | String | False | Explicitly set this to null if this field needs to be removed. |
        | addressLine2 | Address line 2 | String | False | Explicitly set this to null if this field needs to be removed. |
        | city | Address city | String | False | Explicitly set this to null if this field needs to be removed. |
        | state | Address state | String | False | Explicitly set this to null if this field needs to be removed. |
        | country | Address country | String | False | Explicitly set this to null if this field needs to be removed. |
        | postalCode | Address postal code | String | False | Explicitly set this to null if this field needs to be removed. |

        #### Response Body

        Same as 'Get Account by Id - Response Body (Account Object)'
      operationId: UpdateAccount
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              - $ref: '#/components/schemas/UpdateAccountRequest'
            examples:
              Update Account:
                value:
                  contact:
                    firstName: '{{first_name}}'
                    lastName: '{{last_name}}'
                    email: '{{admin_email}}'
                    address:
                      addressLine1: '{{address_line_1}}'
                      addressLine2: '{{address_line_2}}'
                      city: '{{city}}'
                      state: '{{state}}'
                      country: '{{country}}'
                      postalCode: '{{post_code}}'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/UpdateAccount'
                  - example:
                      data:
                        id: 7194af6f-1285-4295-94aa-ceed7ea2d792
                        status: updating
                        insertTs: '2021-06-07T21:16:48'
                        updateTs: '2021-06-07T21:16:48'
                        externalId: XSP1234
                        name: Acme ltd
                        website: www.acme.com
                        provisionCountry: United States
                        contacts:
                          - type: admin
                            email: john.doe@acme.com
                            firstName: John
                            lastName: Doe
                            address:
                              addressLine1: 1 Ave
                              addressLine2: Suite 204
                              city: Sunnyvale
                              state: California
                              country: United States
                              postalCode: '94086'
                        type: Production
              example:
                data:
                  id: 7194af6f-1285-4295-94aa-ceed7ea2d792
                  status: updating
                  insertTs: '2021-06-07T21:16:48'
                  updateTs: '2021-06-07T21:16:48'
                  externalId: XSP1234
                  name: Acme ltd
                  website: www.acme.com
                  provisionCountry: United States
                  contacts:
                    - type: admin
                      email: john.doe@acme.com
                      firstName: John
                      lastName: Doe
                      address:
                        addressLine1: 1 Ave
                        addressLine2: Suite 204
                        city: Sunnyvale
                        state: California
                        country: United States
                        postalCode: '94086'
                  type: Production
      deprecated: false
  /partner/usage:
    get:
      tags:
        - Usage
      summary: Get Usage
      description: |-
        This API can be used to obtain usage data with various search parameters. All dates in usage API refer to UTC time zone. Usage data on each usage date shows the peak usage up to that usage date in current calendar month. Partner can either directly call API with no parameters to get usage data for yesterday (which is current calendar month peak usage up to yesterday) or specify date parameters to get historical peak usage data. Usage collection runs at 4am UTC every day for yesterday's usage data. Partner is suggested to call usage api for yesterday's data after 6am UTC.

        ##### **Billing Unit Explained**

        | **Billing Unit** | **Description** | **Example Given** | **Example Calculation** |
        | --- | --- | --- | --- |
        | "billingUnit" is "1 user" | In this case we charge based on number of users that use our service. "consumedQuantity" is the peak count of users up to the usageDate in current calendar month. "chargeableQuantity" will be the same as "consumedQuantity", and unitPrice is what we charge per user. | consumedQuantity = 100  chargeableQuantity = 100  billingUnit = 1 user  unitPrice = 3 | billingQuantity = Ceiling of (chargeableQuantity / billingUnit) = Ceiling (100 users / 1 user) = 100  totalCost = billingQuantity \* unitPrice = 100 \* 3 = 300 |
        | "billingUnit" is "1 tb" | In this case we charge based on number of terabytes that are used. "consumedQuantity" is the peak count of terabytes up to the usageDate in current calendar month. "chargeableQuantity" will be the same as "consumedQuantity", and unitPrice is what we charge per terabyte. | consumedQuantity = 100  chargeableQuantity = 100  billingUnit = 10 tb  unitPrice = 50 | billingQuantity = Ceiling of (chargeableQuantity / billingUnit) = Ceiling (100 tb / 10 tb) = 10  totalCost = billingQuantity \* unitPrice = 10 \* 50 = 500 |
        | "billingUnit" is "10 vm" | In this case we charge based on number of VM bundles that are used. Each bundle contains 10 VM. "consumedQuantity" is the peak count of VM bundles up to the usageDate in current calendar month. "chargeableQuantity" could be different from "consumedQuantity". if customer has other services that run on VM, and unitPrice is what we charge per VM bundle. | consumedQuantity = 100  chargeableQuantity = 85  billingUnit = 10 vm  unitPrice = 5 | billingQuantity = Ceiling of (chargeableQuantity / billingUnit) = Ceiling (85 vm / 10 vm) = 9  totalCost = billingQuantity \* unitPrice = 9 \* 5 = 45 |

        #### Response Body

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | data | List of usage details | Usage Objects Array | See - Usage Object |
        | metadata | List usage metadata | Metadata Object | See - Metadata Object |

        ##### Usage Object

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | usageDate | Date of this usage object | Date (YYYY-MM-DD) | Usage Data on usageDate means peak usage up to usageDate in  current calendar month. |
        | accountId | Account metallic id | UUID |  |
        | externalAccountId | Account id in partner system | String / UUID |  |
        | fulfillmentId | Fulfillment metallic id | UUID |  |
        | externalFulfillmentId | Fulfillment id in partner system | String / UUID |  |
        | skuId | Service sku in metallic | String |  |
        | consumedQuantity | Usage quantity | Double | It shows peak usage quantity that was consumed up to usageDate  in current calendar month. |
        | chargeableQuantity | Chargeable quantity | Double | Quantity that would be used for billing. |
        | billingUnit | Unit of measure (1 user,  10 vm, etc. | String | See - Billing Units Explained |
        | billingQuantity | Quantity for billing | Double | Ceiling of (chargeableQuantity / billingUnit) |
        | unitPrice | Price for a single  billingUnit | Double |  |
        | totalCost | Total cost | Double | billingQuantity \* unitPrice |
        | currency | Billing currency | String |  |

        ##### Metadata Object

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | filter | Filter string that contains search parameters | String |  |
        | sort | Sort string that contains sorting criteria | String |  |
        | pagination | Pagination Info | Pagination Object | See - Pagination Object |

        ##### Pagination Object

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | pageNumber | Page number | Integer | 0 to x |
        | pageSize | Page size | Integer |  |
        | totalRecords | Total number of records | Integer |  |
      operationId: GetUsage
      parameters:
        - name: startDate
          in: query
          description: 'Optional - The date from which usage is returned. startDate is inclusive UTC time zone Format "YYYY-MM-DD". If not provided, defaults to yesterday'
          style: form
          explode: true
          schema:
            type: string
            example: '2022-09-15'
        - name: endDate
          in: query
          description: 'Optional - The date to which usage is returned. endDate is exclusive UTC time zone Format "YYYY-MM-DD". If not provided, defaults to today'
          style: form
          explode: true
          schema:
            type: string
            example: '2022-09-25'
        - name: accountId
          in: query
          description: Optional - Metallic account id.
          style: form
          explode: true
          schema:
            type: string
            example: cdb8a2a3-582b-449e-84fa-3c4f6a1745df
        - name: fulfillmentId
          in: query
          description: Optional - Metallic fulfillment id.
          style: form
          explode: true
          schema:
            type: string
            example: 234477b5-7d7d-46a8-9eb7-ac67d8d87f58
        - name: pageNumber
          in: query
          description: Optional - Page number >= 0. default 0
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 0
        - name: pageSize
          in: query
          description: 'Optional - Page size, default 100'
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 25
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                - $ref: '#/components/schemas/GetUsage-Success-SingleAccount'
              examples:
                Get Usage - Success - Single Account:
                  value:
                    data:
                      - usageDate: '2021-02-07'
                        accountId: c97aca56-88f8-43af-8c24-0fb6ef0552b5
                        externalAccountId: partnerxyz
                        fulfillmentId: c640d069-9b20-41e7-bac7-b3a2af3a8729
                        externalFulfillmentId: xyzw
                        skuId: MTL-VMKB-VM10O-NC
                        consumedQuantity: 77
                        chargeableQuantity: 77
                        billingUnit: 10 vm
                        billingQuantity: 8
                        unitPrice: 4
                        totalCost: 32
                        currency: USD
                Get Usage - Success - Single Account for Date Range:
                  value:
                    data:
                      - usageDate: '2021-07-23'
                        accountId: cdb8a2a3-582b-449e-84fa-3c4f6a1745df
                        externalAccountId: partnerxyz
                        fulfillmentId: 234477b5-7d7d-46a8-9eb7-ac67d8d87f58
                        externalFulfillmentId: partnerabcdef
                        skuId: MTL-O365-USRO-NC
                        consumedQuantity: 100
                        chargeableQuantity: 100
                        billingUnit: 1 user
                        billingQuantity: 100
                        unitPrice: 4
                        totalCost: 400
                        currency: USD
                      - usageDate: '2021-07-23'
                        accountId: cdb8a2a3-582b-449e-84fa-3c4f6a1745df
                        externalAccountId: partnerxyz
                        fulfillmentId: 234477b5-7d7d-46a8-9eb7-ac67d8d87f58
                        externalFulfillmentId: partnerabcdef
                        skuId: MTL-VMKB-VM10O-NC
                        consumedQuantity: 100
                        chargeableQuantity: 85
                        billingUnit: 10 vm
                        billingQuantity: 10
                        unitPrice: 3
                        totalCost: 27
                        currency: USD
                      - usageDate: '2021-07-24'
                        accountId: cdb8a2a3-582b-449e-84fa-3c4f6a1745df
                        externalAccountId: partnerxyz
                        fulfillmentId: 234477b5-7d7d-46a8-9eb7-ac67d8d87f58
                        externalFulfillmentId: partnerabcdef
                        skuId: MTL-O365-USRO-NC
                        consumedQuantity: 110
                        chargeableQuantity: 110
                        billingUnit: 1 user
                        billingQuantity: 110
                        unitPrice: 4
                        totalCost: 440
                        currency: USD
                      - usageDate: '2021-07-24'
                        accountId: cdb8a2a3-582b-449e-84fa-3c4f6a1745df
                        externalAccountId: partnerxyz
                        fulfillmentId: 234477b5-7d7d-46a8-9eb7-ac67d8d87f58
                        externalFulfillmentId: partnerabcdef
                        skuId: MTL-VMKB-VM10O-NC
                        consumedQuantity: 120
                        chargeableQuantity: 100
                        billingUnit: 10 vm
                        billingQuantity: 10
                        unitPrice: 3
                        totalCost: 30
                        currency: USD
      deprecated: false
  /partner/users:
    post:
      tags:
        - Users
      summary: Create User
      description: |-
        This API can be used by MSP Partners to provision a new user in Metallic. Each user has roles assigned and can manage different accounts.

        User creation is asynchronous. Upon request submission, user record will be in "provisioning" status and will become "active" when creation process finishes.

        #### Request Body

        | **Field** | **Description** | **Type** | **Required** | **Notes** |
        | --- | --- | --- | --- | --- |
        | email | Contact email | String | True | Needs to be unique in metallic. |
        | firstName | Contact firstname | String | True |  |
        | lastname | Contact lastname | String | True |  |
        | roles | List of user role Ids | String Array | True | See - Available Roles |
        | managedAccounts | List of user managed  account metallic Ids | UUID Array | False | User cannot manage accounts without Service Administrator  role or Account Manager role. Value "\*" means user will manage all existing and future accounts under this MSP Partner. |

        #### Response Body

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | id | User metallic id | UUID |  |
        | status | User status | String Enumeration - User Status Enumeration | Refer to User Status Enumeration. Value "provisioning" is returned in this case. |
        | insertTs | User created time | Timestamp |  |
        | updateTs | User last updated time | Timestamp |  |
        | requestData | Create User Request Body | Create User - Request Body | See - Create User - Request Body |
      operationId: CreateUser
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/CreateUserRequest'
                - example:
                    firstName: '{{first_name}}'
                    lastName: '{{last_name}}'
                    email: '{{user_email}}'
                    roles:
                      - '{{role}}'
            example:
              firstName: '{{first_name}}'
              lastName: '{{last_name}}'
              email: '{{user_email}}'
              roles:
                - '{{role}}'
            examples:
              Create User - Success - Service Admin:
                value:
                  firstName: Sam
                  lastName: Smith
                  email: sam@abcinc.com
                  roles:
                    - ROLE_MSP_ADMIN
              Create User - Success - Account Manager Managing All Accounts:
                value:
                  firstName: Sam
                  lastName: Smith
                  email: sam@abcinc.com
                  roles:
                    - ROLE_ACCOUNT_MANAGER
                  managedAccounts:
                    - '*'
              Create User - Success - Account Manager Managing Certain Accounts:
                value:
                  firstName: Sam
                  lastName: Smith
                  email: sam@abcinc.com
                  roles:
                    - ROLE_ACCOUNT_MANAGER
                  managedAccounts:
                    - 20c950e3-a368-44f9-ac9b-9a558460ad53
                    - 6fee40b4-b583-456e-ac16-3a53fd244360
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CreateUser-Success-ServiceAdmin'
                  - example:
                      data:
                        id: 583E575B-4657-40A4-B63A-9F85E3AFCC58
                        insertTs: '2022-01-14T23:48:40'
                        updateTs: '2022-01-14T23:48:40'
                        status: provisioning
                        requestData:
                          firstName: Sam
                          lastName: Smith
                          email: sam@abcinc.com
                          roles:
                            - ROLE_MSP_ADMIN
              example:
                data:
                  id: 583E575B-4657-40A4-B63A-9F85E3AFCC58
                  insertTs: '2022-01-14T23:48:40'
                  updateTs: '2022-01-14T23:48:40'
                  status: provisioning
                  requestData:
                    firstName: Sam
                    lastName: Smith
                    email: sam@abcinc.com
                    roles:
                      - ROLE_MSP_ADMIN
              examples:
                Create User - Success - Account Manager Managing All Accounts:
                  value:
                    data:
                      id: 583E575B-4657-40A4-B63A-9F85E3AFCC58
                      insertTs: '2022-01-14T23:48:40'
                      updateTs: '2022-01-14T23:48:40'
                      status: provisioning
                      requestData:
                        firstName: Sam
                        lastName: Smith
                        email: sam@abcinc.com
                        roles:
                          - ROLE_ACCOUNT_MANAGER
                        managedAccounts:
                          - '*'
      deprecated: false
    get:
      tags:
        - Users
      summary: List Users
      description: |-
        This API can be used by MSP Partners to list users with filtering. sort and pagination support.

        #### Response Body

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | data | List of Users | User Objects (Get Use by Id - Response Body) Array | See - Get User by Id - User Object (Response Body) |
        | metadata | List user metadata | Metadata Object | See - Metadata Object |

        ##### Metadata Object

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | filter | Filter string that contains search parameters | String |  |
        | sort | Sort string that contains sorting criteria | String |  |
        | pagination | Pagination Info | Pagination Object | See - Pagination Object |

        ##### Pagination Object

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | pageNumber | Page number | Integer | 0 to x |
        | pageSize | Page size | Integer |  |
        | totalRecords | Total number of records | Integer |  |
      operationId: ListUsers
      parameters:
        - name: filter
          in: query
          description: Optional - Filter. Only `searchTerm` supported which  matches user `firstName` `lastName` and `email` containing searchTerm value.
          style: form
          explode: true
          schema:
            type: string
            example: 'status:active'
        - name: sort
          in: query
          description: 'Optional - Sort order. default desc:updateTs'
          style: form
          explode: true
          schema:
            type: string
            example: 'asc:updateTs'
        - name: pageNumber
          in: query
          description: Optional - Page number >=0. default 0
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 0
        - name: pageSize
          in: query
          description: Optional - Size of each page. default 25
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 25
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                - $ref: '#/components/schemas/ListUsers-Success'
              examples:
                List User - Success:
                  value:
                    data:
                      - id: 537FBFE1-88F4-480F-9063-2F6426536684
                        insertTs: '2022-01-19T19:23:44'
                        updateTs: '2022-01-19T23:01:03'
                        email: hanna@partnerx.com
                        firstName: Hanna
                        lastName: Smith
                        roles:
                          - ROLE_MSP_ADMIN
                        managedAccounts:
                          - '*'
                        status: updating
                    metadata:
                      filter: 'filter=searchTerm:hanna'
                      sort: 'desc:updateTs'
                      pagination:
                        pageNumber: 0
                        pageSize: 25
                        totalRecords: 1
      deprecated: false
  '/partner/users/{userId}':
    parameters:
      - name: userId
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
    get:
      tags:
        - Users
      summary: Get User by Id
      description: |-
        Get user details using metallic user id.

        #### Path Variables

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | userId | User metallic id | UUID |  |

        #### Response Body

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | id | User metallic id | UUID |  |
        | status | User status | String Enumeration - User Status Enumeration | Refer to User Status Enumeration. |
        | insertTs | User created time | Timestamp |  |
        | updateTs | User last updated time | Timestamp |  |
        | email | Contact email | String | Needs to be unique in metallic. |
        | firstName | Contact firstname | String |  |
        | lastname | Contact lastname | String |  |
        | roles | List of user role Ids | String Array | See - Available Roles |
        | managedAccounts | List of user managed  account metallic Ids | UUID Array | Value "\*" means user will manage all existing and future accounts  under this MSP Partner. |
      operationId: GetUserbyId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                - $ref: '#/components/schemas/GetUserbyId-Success'
              examples:
                Get User by Id - Success:
                  value:
                    data:
                      id: 537FBFE1-88F4-480F-9063-2F6426536684
                      insertTs: '2022-01-19T19:23:44'
                      updateTs: '2022-01-19T23:02:15'
                      email: hanna@partnerx.com
                      firstName: Hanna
                      lastName: Smith
                      roles:
                        - ROLE_MSP_ADMIN
                      managedAccounts:
                        - '*'
                      status: active
      deprecated: false
    put:
      tags:
        - Users
      summary: Update User Name
      description: |-
        This API can be used by MSPs to edit a user's first name or last name. User name update is asynchronous. Upon request submission, user record will be in "updating" status and will become "active" when update process finishes.

        > Passing null or empty string will update the value correspondingly, so please provide the original value if no update.

        #### Path Variables

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | userId | User metallic id | UUID |  |

        #### Request Body

        | **Field** | **Description** | **Type** | **Required** | **Notes** |
        | --- | --- | --- | --- | --- |
        | firstName | User Firstname | String | False |  |
        | lastName | User Lastname | String | False |  |

        #### Response Body

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | id | User metallic id | UUID |  |
        | status | User status | String Enumeration - User Status Enumeration | Refer to User Status Enumeration. Value "updating" is returned in this case. |
        | insertTs | User created time | Timestamp |  |
        | updateTs | User last updated time | Timestamp |  |
        | requestData | Update user name Request Body | Update User Name - Request Body | See - Update User Name - Request Body |
      operationId: UpdateUserName
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              - $ref: '#/components/schemas/UpdateUserNameRequest'
            examples:
              Update User Name:
                value:
                  firstName: Jolin
                  lastName: Smith
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                - $ref: '#/components/schemas/UpdateUserName'
              examples:
                Update User Name:
                  id: 537FBFE1-88F4-480F-9063-2F6426536684
                  insertTs: '2022-01-19T19:23:44'
                  updateTs: '2022-01-19T19:28:18'
                  status: updating
                  requestData:
                    firstName: Jolin
                    lastName: Smith
                  value:
                    data:
                      id: 537FBFE1-88F4-480F-9063-2F6426536684
                      insertTs: '2022-01-19T19:23:44'
                      updateTs: '2022-01-19T19:28:18'
                      status: updating
                      requestData:
                        firstName: Jolin
                        lastName: Smith
      deprecated: false
    delete:
      tags:
        - Users
      summary: Delete User
      description: |-
        This API can be used by MSPs to delete a user. User deletion is asynchronous. Upon request submission, user record will be in "deleting" status and will be removed completely when deletion process finishes.

        #### Path Variables

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | userId | User metallic id | UUID |  |

        #### Response Body

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | id | User metallic id | UUID |  |
        | status | User status | String Enumeration - User Status Enumeration | Refer to User Status Enumeration. Value "deleting" is returned in this case. |
        | insertTs | User created time | Timestamp |  |
        | updateTs | User last updated time | Timestamp |  |
      operationId: DeleteUser
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                - $ref: '#/components/schemas/DeleteUser-Success'
              examples:
                Delete User - Success:
                  value:
                    data:
                      id: 537FBFE1-88F4-480F-9063-2F6426536684
                      insertTs: '2022-01-19T19:23:44'
                      updateTs: '2022-01-19T19:28:18'
                      status: deleting
      deprecated: false
  '/partner/users/{userId}/roles':
    parameters:
      - name: userId
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
    put:
      tags:
        - Users
      summary: Update User Roles
      description: |-
        This API can be used by MSPs to add or remove roles for a certain user. User Role update is asynchronous. Upon request submission, user record will be in "updating" status and will become "active" when update process finishes

        > Removing Account Manager role or Service Administrator role from user will also remove all the accounts the user manages.

        > Adding Service Administrator role to user will upgrade normal user to Administrator

        #### Path Variables

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | userId | User metallic id | UUID |  |

        #### Request Body

        | **Field** | **Description** | **Type** | **Required** | **Notes** |
        | --- | --- | --- | --- | --- |
        | action | Action for requested roles | String Enumeration. Allowed values: add / remove | True |  |
        | roles | List of user role Ids | String Array | True | See - Available Roles |

        #### Response Body

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | id | User metallic id | UUID |  |
        | status | User status | String Enumeration - User Status Enumeration | Refer to User Status Enumeration. Value "updating" is returned in this case. |
        | insertTs | User created time | Timestamp |  |
        | updateTs | User last updated time | Timestamp |  |
        | requestData | Update user roles Request Body | Update User Roles - Request Body | See - Update User Roles - Request Body |
      operationId: UpdateUserRoles
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              - $ref: '#/components/schemas/UpdateUserRolesRequest'
            examples:
              Update User Roles - Success:
                value:
                  action: add
                  roles:
                    - ROLE_ACCOUNT_MANAGER
                    - ROLE_PRICINC_READER
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                - $ref: '#/components/schemas/UpdateUserRoles-Success'
              examples:
                Update User Roles - Success:
                  value:
                    data:
                      id: 537FBFE1-88F4-480F-9063-2F6426536684
                      insertTs: '2022-01-19T19:23:44'
                      updateTs: '2022-01-19T19:28:18'
                      status: updating
                      requestData:
                        action: add
                        roles:
                          - ROLE_ACCOUNT_MANAGER
                          - ROLE_PRICINC_READER
      deprecated: false
  '/partner/users/{userId}/accounts':
    parameters:
      - name: userId
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
    put:
      tags:
        - Users
      summary: Update User Managed Accounts
      description: |-
        This API can be used by MSPs to add or remove accounts for a user. Account update is asynchronous. Upon request submission, user record will be in "updating" status and will become "active" when update process finishes.

        #### Path Variables

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | userId | User metallic id | UUID |  |

        #### Request Body

        | **Field** | **Description** | **Type** | **Required** | **Notes** |
        | --- | --- | --- | --- | --- |
        | action | Action for requested roles | String Enumeration. Allowed values: add / remove | True |  |
        | managedAccounts | List of user managed  account metallic Ids | UUID Array | True | Value "\*" means user will manage all existing and future accounts under this MSP Partner. |

        #### Response Body

        | **Field** | **Description** | **Type** | **Notes** |
        | --- | --- | --- | --- |
        | id | User metallic id | UUID |  |
        | status | User status | String Enumeration - User Status Enumeration | Refer to User Status Enumeration. Value "updating" is returned in this case. |
        | insertTs | User created time | Timestamp |  |
        | updateTs | User last updated time | Timestamp |  |
        | requestData | Update user managed accounts Request Body | Update User Managed Accounts - Request Body | See - Update User Managed Accounts - Request Body |
      operationId: UpdateUserManagedAccounts
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              - $ref: '#/components/schemas/UpdateUserManagedAccountsRequest'
            examples:
              Update User Managed Accounts - Success:
                value:
                  data:
                    id: 537FBFE1-88F4-480F-9063-2F6426536684
                    insertTs: '2022-01-19T19:23:44'
                    updateTs: '2022-01-19T19:28:18'
                    status: updating
                    requestData:
                      action: add
                      managedAccounts:
                        - 3B9B14B8-ECDD-4783-A92B-3B0EEF017A67
                        - 628EF52D-AD52-4839-B6C3-03B6A43D7911
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                - $ref: '#/components/schemas/UpdateUserManagedAccounts-Success'
              examples:
                Update User Managed Accounts - Success:
                  value:
                    data:
                      id: 537FBFE1-88F4-480F-9063-2F6426536684
                      insertTs: '2022-01-19T19:23:44'
                      updateTs: '2022-01-19T19:28:18'
                      status: updating
                      requestData:
                        action: add
                        managedAccounts:
                          - 3B9B14B8-ECDD-4783-A92B-3B0EEF017A67
                          - 628EF52D-AD52-4839-B6C3-03B6A43D7911
      deprecated: false
  /core/database/instance:
    get:
      tags:
        - Instance Operations
      summary: List Database Instances
      description: |-
        This API returns instance list.

        #### Response Body

        | **Field** | **Description** | **Type** | **Notes** |
[...]
